/* .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */
.mainCont {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  gap: 15px;
}
.contBtn {
  display: flex;

  flex-direction: column;
  gap: 10px;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px;
}
.contLeft {
  width: 270px;
}
.cell {
  width: 200px;
  height: 200px;
  color: rgb(77, 8, 8);
  border: 1px solid gray;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.cellsContainer {
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
}
.cell.highlight {
  background-color: #61e06994;
}

.turnsBox {
  white-space: pre-line;
  font-family: monospace;
}
.turn {
  display: block;
  margin: 4px 0;
  font-family: monospace;
  font-size: 15px;
  white-space: pre;
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
}
.inp {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  background-color: #f9fafb;
  transition: all 0.2s ease-in-out;
  margin: 5px 0;
  width: 100%;
}
.checkBoxLabelText {
  display: inline-block;
}

.winner {
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.btnApply,
.btnReset,
.btnRestart {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  background-color: #f9fafb;
  transition: all 0.4s ease-in-out;
  margin: 5px 0;
  width: 100%;
}

.btnReset:hover {
  background-color: lightcoral;
}
.btnApply:hover {
  background-color: lightgreen;
}
.btnRestart:hover {
  background-color: lightblue;
}

.cell:hover {
  background-color: lightgray;
}
.red {
  color: darkred;
  font-size: large;
}
